#feedback {}

#guess-count {
  margin: .8rem auto;
  font-size: 21px;
}

#count {
  display: inline-block;
  vertical-align: middle;
  color: #f39c12;
  font-weight: 700;
  font-size: 1.5em;
}

#guess-list {
  background-color: #3498db;
  list-style: none;
  padding: 1em 0.4em;
  font-size: 1.5em;
  font-weight: 400;
  display: block;
  line-height: 1em;
}
